
########## rename in .gitignore in the home-project folder


################# directories
*.sim
*.cache
*.hw
.Xil/


################# files
*.jou
*.log
*.str



###### excluding all files except one 
!*.runs
*.runs/*
!*.runs/impl_1
*.runs/impl_1/*
!*.runs/impl_1/*.bit


