

########## rename in .gitignore


################# directories
*.cache
*.hw
.Xil/
*.pb
bd
*.sim
*.ip_user_files
*.dir



################# files
*.jou
*.log
*.str



###### excluding all files except one 
!*.runs
*.runs/*
!*.runs/impl_1
*.runs/impl_1/*
!*.runs/impl_1/*.bit




